* {
  box-sizing: border-box;
}

body {
	background-image: url(../images/background.png);
	font-family: 'Bree Serif', serif;
}

h3 {
	font-size: 18px;
	padding-bottom: 10px;
}

.show {
	width: 200px;
    height: 50px;
    margin: 10px 10px 10px 0px;
    float: left;
}

.show-input {
	width: 100%;
	margin: 10px 0px;
}

.gifs {
	float: left;
	margin: 10px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.show-view {
	float: left;
}

.btn {
	background-color: #d9534f;
	color: white;
	text-align: center;
	font-size: 13px;
}
